// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.0.0
CURRENT_PROJECT_VERSION = 0000

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = HXY2D2FQXT
ORG_IDENTIFIER = io.SideStore

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM[config=Archive] = XYZ0123456
CODE_SIGN_STYLE[config=Archive] = Manual
CODE_SIGNING_REQUIRED[config=Archive] = NO
AD_HOC_CODE_SIGNING_ALLOWED[config=Archive] = YES
CODE_SIGNING_ALLOWED[config=Archive] = NO

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

SWIFT_VERSION = 6.0

SDKROOT = iphoneos
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks

IPHONEOS_DEPLOYMENT_TARGET = 15.6
TARGETED_DEVICE_FAMILY = 1,2
GENERATE_INFOPLIST_FILE = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_EMIT_LOC_STRINGS = YES

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_SKIP_APP_STORE_DEPLOYMENT = YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
ASSETCATALOG_COMPILER_STANDALONE_ICON_BEHAVIOR = none
LOCALIZATION_PREFERS_STRING_CATALOGS = YES

INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
INFOPLIST_KEY_LSSupportsOpeningDocumentsInPlace = YES

INFOPLIST_KEY_UIRequiresFullScreen = NO
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES

ORIENTATIONS = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations        = $(ORIENTATIONS)
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = $(ORIENTATIONS)
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad   = $(ORIENTATIONS)

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = SideBackup
INFOPLIST_FILE = SideBackup/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = $(ORG_IDENTIFIER).$(DEVELOPMENT_TEAM).$(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER[config=Archive] = $(ORG_IDENTIFIER).$(PRODUCT_NAME)

GROUP_ID = $(ORG_IDENTIFIER).$(DEVELOPMENT_TEAM)

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = $(GROUP_ID)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PRODUCT_NAME)

// Suppress noise from os activity in xcode console log for release builds
DEBUG_ACTIVITY_MODE = disable

// Mute warnings about duplicate classes in AuthKit and AuthUIKit
DEBUG_DUPLICATE_CLASSES = NO
