// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.0.0
CURRENT_PROJECT_VERSION = 0000

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
ORG = io.SideStore
DEVELOPMENT_TEAM = HXY2D2FQXT
CODE_SIGN_STYLE = Automatic

// Vars that allow anyone to export a build via 'Product > Archive' in Xcode
CODE_SIGN_STYLE[config=Archive] = Manual
DEVELOPMENT_TEAM[config=Archive] = XYZ0123456
CODE_SIGN_IDENTITY[config=Archive] = -
CODE_SIGNING_ALLOWED[config=Archive] = YES
CODE_SIGNING_REQUIRED[config=Archive] = YES
AD_HOC_CODE_SIGNING_ALLOWED[config=Archive] = YES

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

PRODUCT_NAME = SideBackup

INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist
CODE_SIGN_ENTITLEMENTS = $(PRODUCT_NAME)/$(PRODUCT_NAME).entitlements

PRODUCT_BUNDLE_IDENTIFIER[config=*] = $(ORG).$(DEVELOPMENT_TEAM).$(PRODUCT_NAME)
// we set without a Team ID when archiving
PRODUCT_BUNDLE_IDENTIFIER[config=Archive] = $(ORG).$(PRODUCT_NAME)

GROUP_ID = com.SideStore.SideStore.$(DEVELOPMENT_TEAM)
ALT_GROUP_ID = com.rileytestut.AltStore.$(DEVELOPMENT_TEAM)
GROUP_ID[config=Archive] = com.SideStore.SideStore
ALT_GROUP_ID[config=Archive] = com.rileytestut.AltStore

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG).$(PRODUCT_NAME)

SWIFT_VERSION = 6.0

SDKROOT = iphoneos
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks

IPHONEOS_DEPLOYMENT_TARGET = 15.6
TARGETED_DEVICE_FAMILY = 1,2
GENERATE_INFOPLIST_FILE = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_EMIT_LOC_STRINGS = YES
MERGED_BINARY_TYPE = automatic

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_SKIP_APP_STORE_DEPLOYMENT = YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
ASSETCATALOG_COMPILER_STANDALONE_ICON_BEHAVIOR = none
LOCALIZATION_PREFERS_STRING_CATALOGS = YES

INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
INFOPLIST_KEY_LSSupportsOpeningDocumentsInPlace = YES

INFOPLIST_KEY_UIRequiresFullScreen = NO
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES

INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

// Suppress noise from os activity in xcode console log for release builds
DEBUG_ACTIVITY_MODE = disable

// Mute warnings about duplicate classes in AuthKit and AuthUIKit
DEBUG_DUPLICATE_CLASSES = NO
